include ../logo-and-toxin/logo-and-toxin.pug


//- {

//- }

mixin footer(arg)
  .footer
    .footer__top
      .footer__inner
        .footer__description
          .footer__div-logo
            +logo-and-toxin({})
          p.footer__text="Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
        .footer__column
          h4.footer__title= "Навигация"
          a.footer__link= "О нас"
          a.footer__link= "Новости"
          a.footer__link= "Служба поддержки"
          a.footer__link= "Услуги"
        .footer__column
          h4.footer__title= "О нас"
          a.footer__link= "О сервисе"
          a.footer__link= "Наша команда"
          a.footer__link= "Вакансии"
          a.footer__link= "Инвесторы"
        .footer__column
          h4.footer__title= "Служба поддержки"
          a.footer__link= "Соглашения"
          a.footer__link= "Сообщества"
          a.footer__link= "Связь с нами"
        .footer__subscription
    .footer__bottom