include ../includes/components/header/header.pug
include ../includes/components/footer/footer.pug
include ../includes/components/calc-form/calc-form.pug
include ../includes/components/icon-text-list/icon-text-list.pug
include ../includes/components/bullet-list/bullet-list.pug
include ../includes/components/feedback/feedback.pug
include ../includes/components/pie-chart/pie-chart.pug


<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Toxin
  body.room-page
    +header({hrefs: ["#", "#", "#", "#", "#", "#", "#"], fixed: true})
    main.room-page__main
      .room-page__images-wrapper
        .room-page__selection
          .room-page__wrapper-bg-arrow.room-page__wrapper-bg-arrow_left
            svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg").room-page__arrow
              <path d="M7.42188 11.0928L6.01563 12.499L0.0156253 6.49902L6.01563 0.499024L7.42188 1.90527L2.82813 6.49902L7.42188 11.0928Z" fill="white"/>
          .room-page__wrapper-bg-arrow.room-page__wrapper-bg-arrow_right
            svg(width="8" height="13" viewBox="0 0 8 13" fill="none" xmlns="http://www.w3.org/2000/svg").room-page__arrow
              <path d="M7.42188 11.0928L6.01563 12.499L0.0156253 6.49902L6.01563 0.499024L7.42188 1.90527L2.82813 6.49902L7.42188 11.0928Z" fill="white"/>

        .room-page__sector.room-page__sector-img_first
          img(src="./rooms-images/888-1.png" alt=`Одна из наших спален`).room-page__image.room-page__image_big
        .room-page__sector.room-page__sector-img_second
          img(src="./rooms-images/888-2.png" alt=`Одна из наших спален`).room-page__image.room-page__image_small
          img(src="./rooms-images/888-3.png" alt=`Одна из наших спален`).room-page__image.room-page__image_small
        .room-page__common-sector
          img(src="./rooms-images/888-1.png" alt=`Одна из наших спален`).room-page__image.room-page__image_current
          img(src="./rooms-images/888-2.png" alt=`Одна из наших спален`).room-page__image.room-page__image_sliding
          img(src="./rooms-images/888-3.png" alt=`Одна из наших спален`).room-page__image.room-page__image_sliding

      .room-page__content-wrapper
        .room-page__content
          .room-page__sector-cont.room-page__sector-cont_left
            .room-page__blocks-wrapper
              .room-page__block
                h2.room-page__title= "Сведения о номере"
                +icon-text-list({logoType: "comfort", title: "Комфорт", text: "Шумопоглощающие стены", margin: true})
                +icon-text-list({logoType: "convenience", title: "Удобство", text: "Окно в каждой из спален", margin: true})
                +icon-text-list({logoType: "cosiness", title: "Уют", text: "Номер оснащен камином"})
              .room-page__block
                h2.room-page__title= "Впечатления от номера"
                +pie-chart()

            .room-page__blocks-wrapper.room-page__blocks-wrapper_non-row
              h2.room-page__title.room-page__title_double= "Отзывы посетителей номера"
              +feedback({name: "Мурад Сарафанов", likes: 12, clicked: true, text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.", photo: "feedback__image-1.png", activity: "5 дней назад"})
              +feedback({name: "Патрисия Стёклышкова", likes: 2, clicked: false, text: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент", photo: "feedback__image-2.png", activity: "Неделю назад"})


            .room-page__blocks-wrapper
              .room-page__block
                h2.room-page__title= "Правила"
                +bullet-list({items: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"]})
              .room-page__block
                h2.room-page__title= "Отмена"
                p.room-page__text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.

          .room-page__sector-cont.room-page__sector-cont_right
            +calc-form({})
    +footer({})