//- {
//-    title: 
//-    text:
//-    status:
//-    mod:
//-    mask:
//- }

mixin text-field(arg)
   if arg.mask
      - var id_label = "date"
   else
      - var id_label = Math.floor(Math.random() * 10000000)
   .text-field
      if arg.title
         .text-field__label-wrapper
            label(for=id_label class="text-field__label")= arg.title
            if arg.status
               label(for=id_label class="text-field__label_extra")= arg.status
         br
      if arg.mod
         - var mod = `_${arg.mod}`
         input(type="text" id=id_label, placeholder=arg.text class=`text-field__input text-field__input${mod}`)
      else
         input(type="text" id=id_label, placeholder=arg.text class="text-field__input")
      